<section class="container" *ngIf="loadingData">
    <mat-progress-bar *ngIf="loadingData" mode="indeterminate"></mat-progress-bar>
</section>
<section class="inner-container" *ngIf="!loadingData">
    <div>
        <h2>Classroom:</h2> <h2 class="colored-title">{{classroom.title}}</h2>
    </div>
    <span>Classroom name: <strong>{{classroom.title}}</strong> </span>
    <span style="float:right">Teacher name: <strong>{{classroom.teacherFullName}}</strong> </span>
    <br>
    <span>Created date: <strong>{{classroom.createdDate | date:'short'}}</strong></span>

    <!-- tabs -->
    <mat-tab-group>
        <mat-tab label="Assigned problems"> <app-classroom-problems></app-classroom-problems> </mat-tab>
        <mat-tab [disabled]="!enableStudentAndInviteTabs" label="Students"> <app-classroom-students *ngIf="enableStudentAndInviteTabs"></app-classroom-students> </mat-tab>
        <mat-tab [disabled]="!enableStudentAndInviteTabs" label="Invites"> <app-classroom-invites *ngIf="enableStudentAndInviteTabs"></app-classroom-invites> </mat-tab>
    </mat-tab-group>

    <!-- table -->
</section>