.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }

  .full-width {
    width: 100%;
  }

  .login-box{
      margin-top: 28vh;
  }

.login-button{
    float: right;
}

mat-spinner{
  float: right;
  margin-right: 8px;
}