.main-title{
    display: table;
    margin: 0 auto;
    text-decoration:none;
    color: black;
}
header{
    padding-top: 10px;
}

.logout-button{
    float: right;
    position: relative;
    top: -50px;
}

.mat-tab-nav-bar{
    width: 100%;
}