<mat-progress-bar *ngIf="loadingData" mode="indeterminate"></mat-progress-bar>
<section class="inner-container" *ngIf="!loadingData">

    <h3>Students</h3>
    <button (click)="openDialog()" type="button" mat-stroked-button color="primary">Add student</button>
    <table  mat-table [dataSource]="users" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
        <!-- FullName Column -->
        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef> Student Full Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fullName}} 
                <a [routerLink]="'/classrooms/'+element.classroomId" class="table-row-link"></a>
            </td>            
        </ng-container>
        
        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Student Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        
        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Created date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'short'}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>