/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #fafafa;
}


.container {
    max-width: 1280px;
    margin: 0 auto;
}

.inner-container{
    max-width: 1280px;
    margin: 0 auto;

    padding: 16px;
    box-sizing: border-box;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: gainsboro;
    background-color: white;
}